body{ 
	font-family: 'Source Sans Pro' ;
	background: white;
	margin: 0;
	color: white;
	}

a {
	text-decoration: none;
	color: #26aec2;
	font-weight: 700;
}

#imagelist {
	font-size: 0;
	width: 600px
	margin: 0 auto ; 
}

#imagelist a { 
	margin: 500px;
	500